
*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-size:14px;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
}

a,a:hover,a:active,a:focus {
	display:inline-block;
	text-decoration:none;
	font-size:14px;
	padding:0;
}
h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	text-transform: capitalize;
}
p {
	margin: 0;
	font-size:14px;
}
img{	border:none;max-width:100%; height:auto;}
ul{
	padding: 0;
    margin: 0;
    list-style: none;
}
ul li {
	list-style: none;
	
}
select,input,textarea{box-shadow:none;outline:0!important;}


html,body{
    height: 100%;
	position: relative;
    z-index: 2;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}


.header{
	padding-top:20px;
	padding-bottom: 12px;

}
.header li  a{
	color: #888;
	outline: 0;
}
/* header-left  */
.header-left li {
    display: inline-block;
	margin-right: 50px;
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	
}
.header-left li  i{
	margin-right:7px;
	color: #888;
}
.header-left li :hover {
	color: #185977;
}/* header-left  */

/* header-right */
.header-right {
	color: #888;
	font-family: 'Poppins', sans-serif;
	
}
.header-right li {
	display:inline-block;
}
.header-right li a{
	font-size:16px;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 7px;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
	
}
.header-right li a:hover{
	color:#7370d8;
}
.reg a {
    margin-right: 5px;
    margin-left: 5px;
}


/*-------------------------------------
		3. Menu
--------------------------------------*/
#menu{
	z-index: 999;
}
/* navbar-brand */
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus{
	margin-top: 33px;
	padding:0;
}/* navbar-brand */

/* wrapper-sticky */
.wrapper-sticky{
	position: relative;
	display: inline-block;
	background: #185977;
}

/* sticky */
.sticky{
	background: #185977;
	padding: 10px 0px 0px;
	height:80px;
	color: #fff;
}

.sticky  .navbar-brand{
	margin-top:20px;
}
.sticky  .navbar-default .navbar-nav li a,
.sticky  .navbar-default .navbar-nav li a:active,
.sticky  .navbar-default .navbar-nav li a:focus,
.sticky  .navbar-default .navbar-nav li a:hover{
	color: #fff;
	margin: 0px 0px;
}
.sticky .navbar-default .navbar-toggle ,
.sticky .navbar-default .navbar-toggle:focus,
.sticky .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 15px;
}/* sticky */

/* wrapper-sticky */

/* navbar-default */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav li a{
	font-size: 16px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	margin-top:18px;
	padding-left: 27px;
	-webkit-transition: .5s; 
	-moz-transition:.5s; 
	-ms-transition:.5s; 
	-o-transition:.5s;
    transition: .5s;
}
.navbar-default.navbar-nav li a:active,
.navbar-default.navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover{
	color: #fff;
	outline: 0;
	font-weight:700;
	margin-top:18px;
	padding-bottom: 25px;
	padding-left: 27px;

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background:transparent;
    color: #fff;
	font-weight:700;
	font-family: "bebas", sans-serif;
	margin-top:18px;
	padding-bottom: 25px;
	padding-left: 27px;
}/* navbar-default */

/* navbar-toggle*/
.navbar-default .navbar-toggle ,
.navbar-default .navbar-toggle:focus,
 .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 25px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;

}/* navbar-toggle*/




